TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_USER_ID=123456789

# Crypto wallet addresses
WALLET_BTC=bc1qexamplebtcaddress
WALLET_ETH=0xExampleEthAddress
WALLET_LTC=ltc1qexampleltcaddress
WALLET_USDT=0xExampleUsdtAddress
